<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Favourite Books</title></head>
<link th:href="@{/styles/styles.css}" rel="stylesheet"/>
<body>
<br>
<div id="absoluteCenteredDiv4">
  <div th:if="${#authorization.expression('isFullyAuthenticated()')}" style="margin-bottom: 20px; color: #525252"><b>Welcome, <th:block th:text="${#authorization.authentication.principal.username}" />.</b></div>
  <a href="/logout" class="button display-block" style="margin: 0" th:if="${#authorization.expression('isFullyAuthenticated()')}">Log Out</a>
  <a href="/" class="button display-block" style="margin: 0" th:if="${#authorization.expression('isFullyAuthenticated()')}">Main Page</a>
</div>
<h1>Favourite Books</h1>
<table style="table-layout: fixed">
  <thead>
  <tr>
    <th>Title</th>
    <th style="width: 8em;">ISBN</th>
    <th>Author</th>
    <th style="width: 125px; text-align: center"></th>
  </tr>
  </thead>
  <tbody id="booksList">
  <tr th:each="book: ${books}">
    <td th:text="${book.title}"></td>
    <td th:text="${book.isbn}"></td>
    <td th:text="${book.author}"></td>
    <td><a class="button" style="margin: 0" th:href="@{/book/{isbn}(isbn=${book.isbn})}">Open</a></td>
  </tr>
  </tbody>
</table>
</body>
</html>
