<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Saved books</title></head>
<link th:href="@{/styles/styles.css}" rel="stylesheet"/>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<body>
<div id="absoluteCenteredDiv">
    <form id="createBook">
        <div class="box">
            <h1>Books</h1>
            <input class="field" name="title" placeholder="Title">
            <input class="field" name="isbn" placeholder="ISBN">
            <input class="field" name="author" placeholder="Author">
            <button class="button" type="submit">Save book</button>
        </div>
    </form>
</div>
<div id="absoluteCenteredDiv2">
    <input class="field" name="searchBook" id="searchBookId" placeholder="Search book">
    <button class="button" id="searchButton">Search</button>
</div>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>ISBN</th>
        <th>Author</th>
        <th style="width: 100px; text-align: center"></th>
    </tr>
    </thead>
    <tbody id="booksList">
    <tr th:each="book: ${books}">
        <td th:text="${book.title}"></td>
        <td th:text="${book.isbn}"></td>
        <td th:text="${book.author}"></td>
        <td><a th:href="@{/book/{isbn}(isbn=${book.isbn})}">Перейти</a></td>
    </tr>
    </tbody>
</table>
<div id="pageArrows">
    <button class="button" style="width: 100px; margin: 5px" onclick="previousPage()" th:classappend="${isFirst} ? 'display-none' : 'display-block'"><</button>
    <button class="button" style="width: 100px; margin: 5px" onclick="nextPage()" th:classappend="${isLast} ? 'display-none' : 'display-block'">></button>
</div>
<script>
    let currentPage = 0;
    let lastSearch = "";

    function previousPage() {
        turnPage(false);
    }

    function nextPage() {
        turnPage(true);
    }

    function turnPage(next) {
        let goTo = next ? currentPage + 1 : currentPage - 1;
        var $books = $('#booksList');
        var $pageArrows = $('#pageArrows');
        $.ajax({
            url: '/get-books?name='+ lastSearch + '&page='+goTo,
            success: function (response) {
                $books.empty();
                $pageArrows.empty();
                let books = response.content;
                books.forEach(function (book) {
                    $books.append('<tr><td>' + book.title + '</td><td>' + book.isbn + '</td><td>' + book.author + '</td><td><a href="/book/' + book.isbn + '">Перейти</a></td></tr>');
                })
                if(!response.first) {
                    $pageArrows.append('<button class="button" style="width: 100px; display: inline-block; margin: 5px" onclick="previousPage()"><</button>')
                }
                if(!response.last) {
                    $pageArrows.append('<button class="button" style="width: 100px; display: inline-block; margin: 5px" onclick="nextPage()">></button>')
                }
                currentPage = response.pageable.pageNumber;
            }
        });
    }

    $(function () {
        function getBooks() {
            var $books = $('#booksList');
            var $pageArrows = $('#pageArrows');
            $.ajax({
                url: '/get-books',
                success: function (response) {
                    $books.empty();
                    $pageArrows.empty();
                    let books = response.content;
                    books.forEach(function (book) {
                        $books.append('<tr><td>' + book.title + '</td><td>' + book.isbn + '</td><td>' + book.author + '</td><td><a href="/book/' + book.isbn + '">Перейти</a></td></tr>');
                    })
                    if(!response.first) {
                        $pageArrows.append('<button class="button" style="width: 100px; display: inline-block; margin: 5px" onclick="previousPage()"><</button>')
                    }
                    if(!response.last) {
                        $pageArrows.append('<button class="button" style="width: 100px; display: inline-block; margin: 5px" onclick="nextPage()">></button>')
                    }
                    currentPage = response.pageable.pageNumber;
                    lastSearch = "";
                }
            });
        }

        $('#createBook').submit(function (e) {
            e.preventDefault();

            $.ajax({
                type: 'POST',
                url: '/book-create',
                dataType: 'json',
                data: JSON.stringify({
                    title: $(this).find('[name=title]').val(),
                    isbn: $(this).find('[name=isbn]').val(),
                    author: $(this).find('[name=author]').val(),
                }),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json')
                },
                success: function (response) {
                    console.log(JSON.stringify(response));
                    getBooks();
                }
            });
        });

        $('#searchButton').click(function (e) {
            var $books = $('#booksList');
            var $pageArrows = $('#pageArrows');
            var query = $('#searchBookId').val();
            lastSearch = query;
            $.ajax({
                url: '/get-books?name=' + query,
                success: function (response) {
                    $books.empty();
                    $pageArrows.empty();
                    let books = response.content;
                    books.forEach(function (book) {
                        $books.append('<tr><td>' + book.title + '</td><td>' + book.isbn + '</td><td>' + book.author + '</td><td><a href="/book/' + book.isbn + '">Перейти</a></td></tr>');
                    })
                    if(!response.first) {
                        $pageArrows.append('<button class="button" style="width: 100px; display: inline-block; margin: 5px" onclick="previousPage()"><</button>')
                    }
                    if(!response.last) {
                        $pageArrows.append('<button class="button" style="width: 100px; display: inline-block; margin: 5px" onclick="nextPage()">></button>')
                    }
                    currentPage = response.pageable.pageNumber;
                }
            });
        });

    });
</script>
</body>
</html>
