body {
    font-family: sans-serif;
}

table {
    background-color: white;
    width: 80%;
    border: 1px solid #dddddd;
    border-collapse: collapse;
    color: #525252;
    margin: 30px auto 30px;
    word-break: break-all;
}

table th {
    font-weight: bold;
    padding: 5px;
    background: #efefef;
    border: 1px solid #dddddd;
}

table td {
    border: 1px solid #dddddd;
    padding: 5px;
}

.my-link {
    text-align: center;
    display: block;
    border-radius: 5px;
    padding: 4px;
    background-color: dodgerblue;
    width: 8em;
    margin: auto;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.button {
    text-align: center;
    display: block;
    width: 8em;
    text-decoration: none;
    background: #2ecc71;
    padding: 5px 4px;
    color: white;
    border-radius: 4px;
    border: #27ae60 1px solid;
    margin: 20px auto 30px;
    font-weight: 750;
    font-size: 0.9em;
    cursor: pointer;
}
.button:hover {
    background: #2CC06B;
}